@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');

:root,
html.light-mode {
  --col-black: #212121;
  --col-pink: #fc5e97;
  --col-gray: #666666;
  --col-light-gray: #ddd;
  --col-lighter-gray: #eee;
  --col-off-white: #fefefe;

  --fw-semi-bold: 600;

  --size-width-lg: 1024px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --col-black: #dedede;
    --col-pink: #f5581a;
    --col-gray: #999999;
    --col-light-gray: #444;
    --col-lighter-gray: #333;
    --col-off-white: #212121;
  }
}

html.dark-mode {
  --col-black: #dedede;
  --col-pink: #f5581a;
  --col-gray: #999999;
  --col-light-gray: #444;
  --col-lighter-gray: #333;
  --col-off-white: #212121;
}

html,
body {
  font-size: 20px;
  color: var(--col-black);
  background-color: var(--col-off-white);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fw-semi-bold);
  margin: 0;
}

.h1 {
  font-size: 2em;
}

.h2 {
  font-size: 1.5em;
}

.h3 {
  font-size: 1.17em;
}

.h4 {
  font-size: 1em;
}

.h5 {
  font-size: 0.83em;
}

.h6 {
  font-size: 0.67em;
}

p {
  line-height: 1.5rem;
}

a {
  color: var(--col-black);
  font-weight: 600;
  text-decoration-color: var(--col-pink);
  transition: color 0.12s ease-in-out;
}

a:hover {
  color: var(--col-pink);
}

img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

@media (max-width: 460px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 14px;
  }
}

main a + a {
  margin-left: 4px;
}

code {
  background-color: var(--col-light-gray);
  border-radius: 0.25rem;
  padding-inline: 0.25rem;
}

.language-banner {
  display: inline;
  background-color: var(--col-light-gray);
  border-radius: 0.25rem;
  padding: 0.5rem;
}

@media (max-width: 1024px) {
  .language-banner {
    display: block;
  }
}

pre {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #1e1e1e;
  overflow-x: auto;
}

table {
  width: 100%;
  border-spacing: 0;
  border-top: 0.5rem solid var(--col-lighter-gray);
  border-bottom: 0.5rem solid var(--col-lighter-gray);
  border-color: transparent;
}

tr:nth-child(even) {
  background-color: var(--col-lighter-gray);
}

table td,
table th {
  padding: 0 0.5rem;
}

table th {
  text-align: left;
  background-color: var(--col-light-gray);
}

html.dark-mode .wrapper > .intro {
  background: rgba(0, 0, 0, 0.75);
}

html.light-mode .wrapper > .intro {
  background: rgba(255, 255, 255, 0.75);
}

html.dark-mode code,
html.light-mode code {
  background-color: var(--col-light-gray);
}

code[class|='language'],
html.dark-mode code[class|='language'],
html.light-mode code[class|='language'] {
  background-color: #1e1e1e;
  color: #9cdcfe;
}

[class|='language'] .token.operator {
  color: #b5cea8;
}

[class|='language'] .token.comment {
  color: #6a9955;
}

[class|='language'] .token.keyword {
  color: #c586c0;
}

[class|='language'] .token.punctuation {
  color: #ffd700;
}

[class|='language'] .token.tag,
[class|='language'] .token.constant {
  color: #569cd6;
}

[class|='language'] .token.function {
  color: #dcdcaa;
}

[class|='language'] .token.string,
[class|='language'] .token.attr-value {
  color: #ce9178;
}

[class|='language'] .token.attr-name {
  color: #9cdcfe;
}

.col-gray {
  color: var(--col-gray);
}

.i {
  font-style: italic;
}

.tooltip {
  text-decoration-line: underline;
  text-decoration-style: dashed;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
  margin-inline: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
  margin-block: 0;
}

.m-1 {
  margin: 0.5rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-inline: 0.5rem;
}

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-block: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.ml-2 {
  margin-left: 1rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-inline: 1rem;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-block: 1rem;
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.fw-600 {
  font-weight: 600;
}
