@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');

:root {
  --col-black: #212121;
  --col-pink: #fc5e97;
  --col-gray: #666666;
  --col-off-white: #fefefe;

  --fw-semi-bold: 600;

  --size-width-lg: 1024px;
}

html,
body {
  font-size: 20px;
  color: var(--col-black);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fw-semi-bold);
  margin: 0;
}

.h1 {
  font-size: 2em;
}

.h2 {
  font-size: 1.5em;
}

.h3 {
  font-size: 1.17em;
}

.h4 {
  font-size: 1em;
}

.h5 {
  font-size: 0.83em;
}

.h6 {
  font-size: 0.67em;
}

p {
  line-height: 1.5rem;
}

a {
  color: var(--col-pink);
}

@media (max-width: 460px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 14px;
  }
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
  margin-inline: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
  margin-block: 0;
}

.m-1 {
  margin: 0.5rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-inline: 0.5rem;
}

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-block: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.ml-2 {
  margin-left: 1rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-inline: 1rem;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-block: 1rem;
}
