:root {
  --col-black: #212121;
  --col-pink: #fc5e97;
  --col-gray: #666666;
  --col-off-white: #fefefe;

  --fw-semi-bold: 600;

  --size-width-lg: 1024px;
}

html,
body {
  font-size: 20px;
  color: var(--col-black);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fw-semi-bold);
  margin: 0;
}

.h1 {
  font-size: 2em;
}

.h2 {
  font-size: 1.5em;
}

.h3 {
  font-size: 1.17em;
}

.h4 {
  font-size: 1em;
}

.h5 {
  font-size: 0.83em;
}

.h6 {
  font-size: 0.67em;
}

p {
  line-height: 1.5rem;
}

a {
  color: var(--col-pink);
}

@media (max-width: 460px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 14px;
  }
}
