---
// Component Imports
import Layout from '../../layouts/layout.astro';
import Title from '../../components/Title.astro';
import HeroImage from "../../components/HeroImage.astro";
import Wrapper from "../../components/Wrapper.astro";
---
<Layout title="Blog - Sanderg.nl" description="Dit is mijn blog waar ik mijn schrijf over dingen die mij als Frontend Developer interesseren." permalink="https://sanderg.nl/">
    <Wrapper>
        <Title>Blog</Title>
    </Wrapper>
</Layout>
