---
// Component Imports
import Layout from '../layouts/layout.astro';
import HeroImage from "../components/HeroImage.astro";
import Title from '../components/Title.astro';
import Wrapper from "../components/Wrapper.astro";
---

<Layout description="Hey, ik ben Sander Geraedts. Front-end Developer bij Total Design. maker, hardloper, en baasje van de veel te schattige puppy Luna." permalink="/">
    <HeroImage src="avatar.jpg" alt="close-up van Sander Geraedts die zijn medaille voor de Halve Marathon van Eindhoven omhoog houdt">
        <h2 class="h1">Hey, ik ben Sander</h2>
        <p class="intro">
            Front-end Developer bij <a href="https://www.pancompany.com/">Pancompany</a>, maker,
            hardloper, en baasje van de veel te schattige <span title="Ze is ondertussen alweer 4 jaar, maar blijft mijn pup.">"pup"</span>{" "}
            <a href="https://www.instagram.com/luna_the_hufflepuff_retriever/">Luna</a>.
        </p>
    </HeroImage>
    <Wrapper>
        <div class="about">
            <div class="content">
                <Title title="Over mij">Even kort voorstellen, wel zo netjes.</Title>
                <p>
                Hey, mijn naam is Sander Geraedts. Ik ben een Front-end Developer
                uit Bergeijk en werk op dit moment voor{" "}
                <a href="https://www.pancompany.com/">Pancompany</a>.
                </p>
                <p>
                In mijn vrije tijd ben ik bezig met dingen te maken, van elektronica projecten zoals toestenborden en domotica tot tafels.😉.
                </p>
            </div>
            <img width="300" height="300" src="/assets/images/linkedInAvatar.jpg" alt="Afbeelding van Sander Geraedts in een net pak">
        </div>
        <div class="tech">
            <h3>Technologie</h3>
            <p class="mt-0">In mijn dagelijks werk gebruik ik onder andere de volgende tools:</p>
            <ul>
                <li><img width="150" height="150" src="/assets/images/Vue-logo.svg" alt="Vue Logo" /><p>Vue</p></li>
                <li><img width="150" height="150" src="/assets/images/Nodejs-logo.svg" alt="Nodejs Logo" /><p>Nodejs</p></li>
                <li><img width="150" height="150" src="/assets/images/React-logo.svg" alt="React Logo" /><p>React</p></li>
                <li><img width="150" height="150" src="/assets/images/JS-logo.svg" alt="JS Logo" /><p>Javascript</p></li>
                <li><img width="150" height="150" src="/assets/images/Figma-logo.svg" alt="Figma Logo" /><p>Figma</p></li>
            </ul>
        </div>
    </Wrapper>
    <script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
        if (!user) {
            window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
            });
        }
        });
    }
    </script>
</Layout>

<style>
.intro {
    margin: 0;
}

.about {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 1rem 0;
}

.content p:first-child {
    margin-top: 0;
}

.about img {
    max-width: 300px;
    border-radius: 25px;
}

@media (max-width: 750px) {
    .about {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about img {
      order: -1;
    }
}

.tech ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.tech li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    margin-block: 1rem;
}

.tech img{
    max-height: 150px;
    max-width: 150px;
    width: 100%;
}

.tech li p {
    text-align: center;
    margin: 0;
    font-weight: 600;
}

</style>
