---
export interface Props {
    post: any;
}

const { post } = Astro.props;

const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
const publishDate = new Date(post.frontmatter.publishDate);
---

<article class="postPreview">
    <header>
        <a href={post.url}><h2 class="title">{post.frontmatter.title}</h2></a>
        <p class="publishDate">{publishDate.toLocaleDateString('nl-NL', options)}</p>
    </header>
    <main>
        <p>
        {post.frontmatter.description}{" "}<a class="d-inline fw-600" href={post.url}>Verder lezen</a>
        </p>
    </main>
</article>

<style>
.publishDate {
    font-style: italic;
    margin-top: 0;
    color: var(--col-gray);
}

.publishDate:first-letter {
    text-transform: capitalize;
}

header h2 {
    margin-bottom: -0.25rem;
}
</style>