---
import Wrapper from "./Wrapper.astro";

export interface Props {
  src: string;
  alt: string;
}

const { src, alt } = Astro.props;
---

<div class="hero">
    <img class='cld-responsive' data-src={`https://res.cloudinary.com/sandergnl/image/upload/c_scale,w_auto/${src}`}/>
    <Wrapper>
    <div class="intro">
        <slot />
    </div>
    </Wrapper>
    <script type="text/javascript">
    var cl = cloudinary.Cloudinary.new({cloud_name: "sandergnl"}); 
    // replace 'demo' with your cloud name in the line above 
    cl.responsive();
</script>
</div>

<style>
.hero {
    position: relative;
    max-height: 80vh;
    overflow: hidden;
}

img {
    width: 100%;
    opacity: 0.4;
}

.intro {
    max-width: 500px;
    z-index: 10;
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 25px 25px 0 0;
    padding: 20px;
}

@media (max-width: 500px) {
    .intro {
        max-width: calc(100% - 60px);
    }
}

@media (prefers-color-scheme: dark) {
    .intro {
        background: rgba(0, 0, 0, 0.75);
    }
}

:global(html.dark-mode) .intro {
    background: rgba(0, 0, 0, 0.75);
}

:global(html.light-mode) .intro {
    background: rgba(255, 255, 255, 0.75);
}
</style>